.ribbon {
 	display: block;
	width:100%;
	height: 54px;
	background-color:#0080c0;
	font-family:Verdana,Arial;
	font-size:8pt;
	color: #ffffff;
	overflow: hidden;	
}
.ribbonGroup{
	height: 44px;
	display: inline-block;
	padding-top: 4px;
	border: #0090c0;
	border-style: solid;
}

@media screen and (max-width: 600px) {
	.ribbon {height: 80px;}
	.ribbonGroup {display: none;}
}


.ribbonIcon { 
	display: inline-block;
	width: 28px;
	height: 28px;
}
.ribbonIcon:hover { 
	background-color: #0090c0;
	cursor: pointer;
}

svg.ribbonIcon {
	color: #ffffff;
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1.2s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
}