/* Quote block */
blockquote {
	background: #ebebeb none 6px 8px no-repeat;
	border: 1px solid #dbdbdb;
	font-size: 0.95em;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 5px;
	margin-left: 0px;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #bababa;
	font-size: 1em;
	margin: 0.5em 1px 0 15px;	
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #e4e4e4;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 0px;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	padding-top: 25px;
}

.emboss {
  text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(100,100,100,.5) 1px 1px 1px;
}

/* You've got mail! modal dialog */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

.nsfw {
  color: magenta; /* #FF2400 is scarlet */
  font-weight: bold;
}

.nsfwFloat {
  position:fixed;
  left: 0px;top: 0px;width: 100%;height: 8px;z-index: 9999;text-align: right;
  color: magenta; /* #FF2400 is scarlet */
  font-weight: bold;
}

.edited {
  /* color: red; */
  font-size: 80%;
	font-style: italic;
  color: crimson;
}

.revisions {
  display:none;
}

.empty {
  font-size:80%;
	/*font-style: italic;*/
  color:gray;
}

div#threads {
  margin-top : 1em;
/*
  white-space: nowrap;
  overflow-x: hidden;
*/
}

em {
  display: inline-block;
  -ms-transform: skew(20deg,0deg);      /* IE 9 */
  -webkit-transform: skew(20deg,0deg);  /* Safari and Chrome */
  -o-transform: skew(20deg,0deg);       /* Opera */
  -moz-transform: skew(20deg,0deg);     /* Firefox */
  transform: skew(20deg,0deg);
}

#safe_mode_ind {
  color: lightgray;
  /*
  background: -webkit-linear-gradient(royalblue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  font-size:9px;
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 9px;
  z-index: 9999;
  text-align: left;
}

/* Reactions */
.reactions-dropdown {
    position: relative;
    display: inline-block;
}

#reaction {
    color: coral;  
}

.reactions-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    padding: 2px 5px; 
    margin: 0px;
    z-index: 1;
    white-space:nowrap;
}

.reactions-dropdown:hover .reactions-dropdown-content {
    display: block;
}

/* Scroll2Top */
#scroll2top {
    position: fixed;
    top: 0.6em !important;
    left: 0.3em !important;
    display:none;
}
#scroll2top a {
  padding:0.3em;
}

.footer {
  padding: 0.3em 0 0 0;  
}

dd {
  margin: 0;
  padding: 0 0 0 0;
}

dl {
  margin-left: 1.3em;
}

/* Support for Tabs */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-top: none;
}
/* --------------------- */

/* Pagination */
.pagination {
	float: right;
	text-align: right;
	width: auto;
  padding:0;
  margin:0;
}

.action-bar.bottom .pagination {
	margin-top: 0;
}

.pagination > ul {
	display: inline-block;
	list-style: none !important;
	margin-left: 5px;
  /* margin: 4px 0; */
  margin: 0px;
}

.pagination > ul > li {
	display: inline-block !important;
	padding: 2px;
	font-size: 100%;
	line-height: normal;
	vertical-align: middle;
}

.pagination li a, .pagination li span {
	border: 1px solid transparent;
	border-radius: 2px;
	display: block;
	font-size: 0.9em;
	font-weight: normal;
  font: inherit;
	line-height: 1.0em;
	min-width: 10px;
	padding: 3px;
	text-align: center;
	text-decoration: none;
  font-family:  "Times New Roman", Georgia, Serif;
}

.pagination li.ellipsis span {
	border: none;
	padding: 0;
  font-family: Verdana, Arial;
}

.pagination li.page-jump {
	margin-right: 5px;
}

.pagination li.page-jump a, .pagination li.next a, .pagination li.previous a {
  background-image: url(../images/icons_pagination.png);
	background-repeat: no-repeat;
	font-size: 0;
	height: 13px;
	width: 11px;
}

.pagination li.page-jump a {
	background-position: 0 2px;
	width: 24px;
}

.pagination li.next a {
	background-position: -50px 2px;
}

.pagination li.previous a {
  background-image: url(../images/icons_pagination.png);
	background-position: -30px 2px;
}

.pagination li.page-jump a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger { background-position: 0 -18px; }
.pagination li.next a:hover { background-position: -50px -18px; }
.pagination li.previous a:hover { background-position: -30px -18px; }

.pagination li a {
	background-color: transparent;/*#ECEDEE;*/
	border-color: #B4BAC0;
	color: #5C758C;
}

.pagination li.ellipsis span {
	background-color: transparent;
	color:	#000000;
}

.pagination li.active {
	background-color: transparent;
}

.pagination li.active span {
	background-color: #4692BF;
	border-color: #4692BF;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background-color: #368AD2;
	border-color: #368AD2;
	color: #FFFFFF;
}

div#hr1{
   background-color: lightgray;
   height: 4px; /*100%; */
   width: 100%; /* 3px; */
   /* cursor: row-resize;/*col-resize;*/
   border-bottom: 1px solid #080808;
   border-top: 1px solid #B0B0B0;
   padding:0px;
   margin:0px;
	 margin-top: -3px;
}

div#hr2{
   background-color: lightgray;
   height: 100vh; /*100%; */
   width: 4px; /* 3px; */
   /* cursor: row-resize;/*col-resize;*/
   border-right: 1px solid #080808;
   border-left: 1px solid #B0B0B0;
   padding:0px;
   margin:0px;
   float:right;
   position:relative;
}