body,html{width:100%;height:100%;padding:0;margin:0;}
#main{
   /* float: right; */
   /* position: absolute; */
   /* top: 100px; */
   /* bottom: 38px; */
   /* right: 0; */
   /*left:200px;*/
   /* new */
   width: 99%;
   bottom: 0px;
   padding-left:5px;
   margin-left:5px;
   padding-top:0px;
   margin-top:0px;
   padding-right:5px;
   margin-right:5px;
}
#sidebar{
   width: 99%; /*200px; */
   /* float: left; */
   /* position: absolute; */
   /* top: 100px; */
   height: 45%;
   /* bottom: 38px; */
   overflow-y: scroll; 
   padding-left:5px;
   margin-left:5px;
   padding-right:5px;
   margin-right:5px;
   padding-top:0px;
   margin-top:0px;
}

#dragbar{
   background-color: lightgray;
   height: 4px; /*100%; */
   /* float: right; */
   width: 100%; /* 3px; */
   cursor: row-resize;/*col-resize;*/
   border-bottom: 1px solid #080808;
   border-top: 1px solid #B0B0B0;
   padding:0px;
   margin:0px;
}

#footer{
    background-color: PaleGoldenRod;
    width:100%;
    height: 38px;
    bottom:0;
    position:absolute;
}

#header{
    background-color: wheat;
    width:100%;
    height: 100px;
}

#close{
    display:block;
    float:right;
    width:20px;
    height:20px;
    margin-top:-15px;
    background:url(/images/close.gif) no-repeat center center;
}